@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  
  font-family: "poppins", sans-serif;
}



body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-image: url("/src/image/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#reload_href{
  color: red;
}


::placeholder{
  color: red;
}

.signup{
  margin-bottom: 0px;
}
.blockedsubmit
{
  margin-top: 5px;
  width: fit-content;
  height: 2rem;
  color: white;
  color: red;
  font-size: larger;
  border: none;
}
.container
{
  color: rgb(168, 215, 255);
  width: 400px;
  height: auto;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: transparent;
  background-color: rgba(90, 78, 78, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(2px);


}
.container_l
{
  color: greenyellow;
  font-family: 'Times New Roman', Times, serif ;
  width: 500px;
  height: 100px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  background-color: rgba(90, 78, 78, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(2px);


}
input{
  padding-left: 10px;
  border-radius: 10px;
  height: 30px;
  border: none;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.cnf_sbmt{
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  color: antiquewhite;
  width: 4rem;
  height: 2rem;
  margin-bottom: 10px;
  background-color: rgb(255, 2, 107);
}
.cnf_sbmt:hover{
  cursor: pointer;
  background-color: greenyellow;
  color:black;
  border:1px solid green;
}


.ver_cap
{
  text-align: center;
}
.ver_cap button
{
  color: white;
  margin-top: 10px;
  background-color: red;
  border: 1px solid rgb(255, 0, 0);
  height: 2rem;
  border-radius: 8px;
  outline: none;
}
.ver_cap button:hover{
  background-color: blue;
  cursor: pointer;
}